*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1
{
	font-size: 3em;
	background-color: white;
	color: #646464;
	margin:0;
	padding: 0;
	text-align: left-center;
	font-family: "Monotype Corsiva";
}
.text1
{
	font-size: 3em;
	background-color: white;
	color: #646464;
	margin:0;
	padding: 0;
	text-align: center;
}

.text2
{
	font-size: 3em;
	background-color: white;
	color: #646464;
	margin:0;
	padding: 0;
	position: absolute;
}

.text3
{
	padding: right;
	text-align: right;
}

.rotated
{   margin-top: 30px;
	padding-top: 50px;
	transform: rotate(180deg); /* Equal to rotateZ(45deg) */
	background-color: white;
}

body
{

	background: #FFFFFF;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.wrapper
{
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 25%;
	border-radius: 15px 15px 15px 15px;
}


.menu-bar
{
	background: #646464;
	 position: fixed; /* Set the navbar to fixed position */
     top: 0; /* Position the navbar at the top of the page */
	 width: 100%; /* Full width */
	 z-index:5;
}
.menu-bar ul
{
	float :right;
	display: inline-flex;
	list-style:none;
}
.menu-bar ul li
{
	text-align: right;
	width: 150px;
	margin: 5px;
	padding: 15px;

}
.menu-bar ul li a
{
	text-decoration: none;
	color: #FFFFFF;
}
.menu-bar ul li a:first child
{
	text-decoration: none;
	text-indent: left;
	color: #fff;
}
.active, .menu-bar ul li:hover
{
	background: #000000;
	border-radius: 3px;
}
/*.menu-bar ul li a:hover
{
	color:#000000;
}*/
.main{
	padding-top: 60px;
	/* margin-top: 30px;  Add a top margin to avoid content overlay */
	min-height: 100%;
  }
.fa fa-home
{
	color: #646464;
}
.sub-menu-1
{   
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display:block;
	position: absolute;
	background-color: #646464;
	margin-top: 15px;;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display:block;
	margin: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color:#000000;
}
.fa-fa-angle-down
{
	float:right;
}
label
{
	text-align: left;
}
.logo
{
	padding: 5px 0 0 80px;
	width: 220px;
	height: auto;
}
label
{
	text-align: left;
}
.logo
{
	padding: 5px 0 0 80px;
	width: 220px;
	height: auto;
}
.form-style-5-main h2 {
    font-family: 'Lato',sans-serif;
    color: #fff;
    text-shadow: 2px 2px #494949;
    font-size: 5vw;
    font-weight: bold;
    text-transform: uppercase;
}
h4 {
    font-family: 'Lato',sans-serif;
    color: #646464;
    text-shadow: 2px 2px #646464;
    font-size: 4vw;
    text-align: center;
    padding: 50px;
}



.about_us_body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #646464;
}
.container_about_us{
	width:100%;
	height:auto;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.container {
	margin-top: 30px;
	text-align: center;
	color: white;
  }
  .index-title {
	position: absolute;
	top: 120px;
	left: 250px;
  }
  
  .form-style-5-main{
	max-width: 100%;
	padding: 1px 11px;
	background: #f4f7f8;
	margin: 1px auto;
	padding: 20px ;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-image: url('/static/Images/OK.jpg');
	width: 100%;
	background-position:center;
    background-repeat:no-repeat; background-size:cover; width: '100%';
	height:530px;
}

  .form-style-5{
	  max-width: 100%;
	  padding: 1px 11px;
	  background: #f4f7f8;
	  margin: 1px auto;
	  padding: 20px ;
	  background: #f4f7f8;
	  border-radius: 8px;
	  font-family: Georgia, "Times New Roman", Times, serif;
	  background-image: url('/static/Images/background.jpg');
	  width: 100%;
	  background-position:center;
	  background-repeat:no-repeat; background-size:cover; width: '100%';
	  height:530px;
  }
  .form-style-5 fieldset{
	  border: none;
  }
  .form-style-5 legend {
	  font-size: 1.4em;
	  margin-bottom: 20px;
  }
  .form-style-5 label {
	  display: block;
	  margin-bottom: 8px;
  }
  .form-style-5 input[type="text"],
  .form-style-5 input[type="date"],
  .form-style-5 input[type="datetime"],
  .form-style-5 input[type="email"],
  .form-style-5 input[type="number"],
  .form-style-5 input[type="search"],
  .form-style-5 input[type="time"],
  .form-style-5 input[type="url"],
  .form-style-5 input[type="password"],
  .form-style-5 textarea,
  .form-style-5 select {
	  font-family: Georgia, "Times New Roman", Times, serif;
	  background: rgba(255,255,255,.1);
	  border: none;
	  border-radius: 4px;
	  font-size: 15px;
	  margin: 0;
	  outline: 0;
	  padding: 10px;
	  width: 100%; 
	  box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  background-color: #e8eeef;
	  color:#8a97a0;
	  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	  margin-bottom: 30px;
  }
  .form-style-5 select {
	  font-family: Georgia, "Times New Roman", Times, serif;
	  background: rgba(255,255,255,.1);
	  border: none;
	  border-radius: 4px;
	  font-size: 15px;
	  margin: 0;
	  outline: 0;
	  padding: 1px;
	  width: 50%;
	  box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  background-color: #e8eeef;
	  color:#8a97a0;
	  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	  margin-bottom: 10px;
  }
  .form-style-5 input[type="text"]:focus,
  .form-style-5 input[type="date"]:focus,
  .form-style-5 input[type="datetime"]:focus,
  .form-style-5 input[type="email"]:focus,
  .form-style-5 input[type="number"]:focus,
  .form-style-5 input[type="search"]:focus,
  .form-style-5 input[type="time"]:focus,
  .form-style-5 input[type="url"]:focus,
  .form-style-5 textarea:focus,
  .form-style-5 select:focus{
	  background: #d2d9dd;
  }
  .form-style-5 select{
	  -webkit-appearance: menulist-button;
	  height:40px;
  }
  .form-style-5 .text {
	  background: #646464;
	  color: #fff;
	  height: 30px;
	  width: 600px;
	  display: inline-block;
	  font-size: 1.0em;
	  margin-right: 4px;
	  line-height: 30px;
	  text-align: center;
	  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	  border-radius: 15px 15px 15px 15px;
  }
  
  
  
  .form-style-5 input[type="submit"],
  .form-style-5 input[type="button"]
  {
	  top: 60px;
	  left: 20px;
	  display: block;
	  padding: 19px 19px 18px 19px;
	  color: #FFF;
	  background: #646464;
	  font-size: 18px;
	  text-align: centre;
	  font-style: normal;
	  width: 100%;
	  border: 1px solid #646464;
	  border-width: 1px 1px 3px;
	  margin-bottom: 10px;
  }
  .form-style-5 input[type="submit"]:hover,
  .form-style-5 input[type="button"]:hover
  {
	  background: #000000;
  }
  
  
  .why_points{
	  background: #FFFFFF;
	  background-size: cover;
	  background-position: left;
	  font-family: sans-serif;
	  text-align: center;
	   font-size: 2.5em;
	  color:#646464;
  
  }
  
  .gre-bar 
  { 
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 150px;
	left: 100px;
	background: #646464;
	overflow-x: hidden;
	padding: 8px 0;
  }
  .gre-bar a 
  {
	  padding: 30px 20px 10px 20px;
	  text-decoration: none;
	  font-size: 15px;
	  color: #ffffff;
	  display: block;
  }
  .active, .gre-bar ul li:hover
  {
	  background: #000000;
	  border-radius: 1px;
  }
  .about-gre {
	margin-left: 390px; /* Same as the width of the sidebar */
	 margin-top: 100px;
	padding: 20px 50px;
  }
  h3{ line-height: 1.1;
	  display: block;
	  font-size: 2em;
	  color:#000000;
	  margin-block-start: 1em;
	  margin-block-end: 1em;
	  margin-inline-start: 1px;
	  margin-inline-end: 2px;
	  font-weight: bold; } 
  p{padding: 15px 15px;}
  .gre-test-duration-table{font-family: arial, sans-serif;
	border-collapse: collapse;}
  .gre-test-score-verbal
	{font-family: arial, sans-serif;
	border-collapse: collapse;
	position: centre;
	padding: 20px 20px; 
  }
  .gre-test-score-quant
	{font-family: arial, sans-serif;
	border-collapse: collapse;
	position: centre; padding: 20px 20px;}
  th{background: #646464; color: #ffffff;}
  
  td ,th{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
	border: 1px solid #ffffff;
  }
  /* University Finder and footer */
  .form-style-56{
	  margin-top:30%;
	  max-width: 800px;
	  padding: 40px 40px 100px;
	  background: #f4f7f8;
	  margin: 10px auto;
	  padding: 50px;
	  background: #f4f7f8;
	  border-radius: 8px;
	  font-family: Georgia, "Times New Roman", Times, serif;
  }
  .form-style-56 fieldset{
	  border: none;
  }
  .form-style-56 legend {
	  font-size: 1.4em;
	  margin-bottom: 10px;
  }
  .form-style-56 label {
	  display: block;
	  margin-bottom: 8px;
  }
  .form-style-56 input[type="text"],
  .form-style-56 input[type="date"],
  .form-style-56 input[type="datetime"],
  .form-style-56 input[type="email"],
  .form-style-56 input[type="number"],
  .form-style-56 input[type="search"],
  .form-style-56 input[type="time"],
  .form-style-56 input[type="url"],
  .form-style-56 textarea,
  .form-style-56 select, .form-style-56 button {
	  font-family: Georgia, "Times New Roman", Times, serif;
	  background: rgba(255,255,255,.1);
	  border: none;
	  border-radius: 4px;
	  font-size: 15px;
	  margin: 0;
	  outline: 0;
	  padding: 10px;
	  width: 100%;
	  box-sizing: border-box; 
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box; 
	  background-color: #e8eeef;
	  color:#8a97a0;
	  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	  margin-bottom: 30px;
  }
  .form-style-56 input[type="text"]:focus,
  .form-style-56 input[type="date"]:focus,
  .form-style-56 input[type="datetime"]:focus,
  .form-style-56 input[type="email"]:focus,
  .form-style-56 input[type="number"]:focus,
  .form-style-56 input[type="search"]:focus,
  .form-style-56 input[type="time"]:focus,
  .form-style-56 input[type="url"]:focus,
  .form-style-56 textarea:focus,
  .form-style-56 select:focus{
	  background: #d2d9dd;
  }
  .form-style-56 select{
	  -webkit-appearance: menulist-button;
	  height:40px;
  }
  .form-style-56 .number {
	  background: #646464;
	  color: #fff;
	  height: 30px;
	  width: 30px;
	  display: inline-block;
	  font-size: 0.8em;
	  margin-right: 4px;
	  line-height: 30px;
	  text-align: center;
	  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	  border-radius: 15px 15px 15px 0px;
  }
  
  .form-style-56 input[type="submit"],
  .form-style-56 input[type="button"]
  {
	  position: relative;
	  display: block;
	  padding: 19px 39px 18px 39px;
	  color: #FFF;
	  margin: 0 auto;
	  background: #646464;
	  font-size: 18px;
	  text-align: center;
	  font-style: normal;
	  width: 100%;
	  border: 1px solid #646464;
	  border-width: 1px 1px 3px;
	  margin-bottom: 10px;
  }
  .form-style-56 input[type="submit"]:hover,
  .form-style-56 input[type="button"]:hover
  {
	  background: #000000;
  }
  
  
  .container_resource
  {   padding-top: 20px;
	  margin-left: 20px;
	  width: 90%;
	  margin-top:5%;
	  font-family: sans-serif;
	  letter-spacing: 1px;
  }
  .container_resource h2
  {
	  background: #646464;
	  color:#fff;
	  width: 200px;
	  font-size: 24px;
	  padding: 5px;
	  height: 200px;
  }
  .container_resource h2::after
  {
	  content: '';
	  border-top: 40px solid #ffffff;
	  border-right:0px solid transparent;
	  position: relative;
	  left: 50px;
	  top : 34px;
  }
  .row
  {
	  margin-top: 30px;
  }
  .product-top img
  {
	  width: 100%;
	  margin-left:20px; 
  }
  .product-bottom h5
  {
	  font-size: 15px;
	  font-weight: bold;
  }
  .product-bottom h3
  {
	  font-size: 20px;
	  font-weight: bold;
  }
  .form-style-6{
	  max-width: 100%;
	  margin-left: 300px;
	  margin-right: 300px;
	  margin-top:10%;
	  padding: 19px 11px;
	  background: #f4f7f8;
	  padding: 20px ;
	  background: #f4f7f8;
	  border-radius: 8px;
	  font-family: Georgia, "Times New Roman", Times, serif;
  }
  .form-style-6 fieldset{
	  border: none;
  }
  .form-style-6 legend {
	  margin-left: auto;
	  margin-right: auto;
	  font-size: 1.4em;
	  margin-bottom: 20px;
  }
  .form-style-6 label {
	  display: block;
	  margin-bottom: 8px;
  }
  .form-style-6 input[type="text"],
  .form-style-6 input[type="date"],
  .form-style-6 input[type="datetime"],
  .form-style-6 input[type="email"],
  .form-style-6 input[type="number"],
  .form-style-6 input[type="search"],
  .form-style-6 input[type="time"],
  .form-style-6 input[type="url"],
  .form-style-6 input[type="password"],
  .form-style-6 textarea,
  .form-style-6 select {
	  font-family: Georgia, "Times New Roman", Times, serif;
	  background: rgba(255,255,255,.1);
	  border: none;
	  border-radius: 10px;
	  font-size: 15px;
	  margin-left: 250px;
	  outline: 0;
	  padding: 10px;
	  width: 30%; 
	  box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  background-color: #e8eeef;
	  color:#8a97a0;
	  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	  margin-bottom: 30px;
  }
  
  .form-style-6 select {
	  font-family: Georgia, "Times New Roman", Times, serif;
	  background: rgba(255,255,255,.1);
	  border: none;
	  border-radius: 4px;
	  font-size: 15px;
	  margin-left: auto;
	  margin-right: auto;
	  outline: 0;
	  padding: 1px;
	  width: 50%;
	  box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  background-color: #e8eeef;
	  color:#646464;
	  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	  margin-bottom: 10px;
  }
  .form-style-6 input[type="text"]:focus,
  .form-style-6 input[type="date"]:focus,
  .form-style-6 input[type="datetime"]:focus,
  .form-style-6 input[type="email"]:focus,
  .form-style-6 input[type="number"]:focus,
  .form-style-6 input[type="search"]:focus,
  .form-style-6 input[type="time"]:focus,
  .form-style-6 input[type="url"]:focus,
  .form-style-6 textarea:focus,
  .form-style-6 select:focus{
	  background: #d2d9dd;
  }
  .form-style-6 select{
	  -webkit-appearance: menulist-button;
	  height:40px;
  }
  .form-style-6 .text {
	  background: #646464;
	  color: #fff;
	  height: 30px;
	  width: 600px;
	  display: inline-block;
	  font-size: 1.0em;
	  line-height: 30px;
	  text-align: center;
	  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	  border-radius: 15px 15px 15px 15px;
  }
  
  .form-style-6 .number {
	  background: #646464;
	  color: #fff;
	  height: 30px;
	  width: 30px;
	  margin-left: auto;
	  margin-right: auto;
	  display: inline-block;
	  font-size: 0.8em;
	  line-height: 30px;
	  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	  border-radius: 15px 15px 15px 0px;
  }
  
  .form-style-6 input[type="submit"],
  .form-style-6 input[type="button"]
  {
	  top: 60px;
	  left: 30px;
	  display: block;
	  padding: 19px 19px 18px 19px;
	  color: #FFF;
	  background: #646464;
	  font-size: 18px;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
	  font-style: normal;
	  width: 30%;
	  border: 1px solid #646464;
	  border-width: 1px 1px 3px;
	  margin-bottom: 10px;
  }
  .form-style-6 input[type="submit"]:hover,
  .form-style-6 input[type="button"]:hover
  {
	  background: #000000;
  }
  .footer
  {
  background: #646464;
  color: #ffffff;
  height: 325px;
  position: relative;
  font-family: sans-serif;
  }
  .footer-bottom
  {
	   background: #646464;
	   color : white;
	   height: 40px;
	   width: 100%;
	   text-align: center;
	   position: absolute;
	   bottom: 0px;
	   left: 0px;
	   padding-top: 20px;
  }
  .footer-content
  {
	  height: 260px; 
	  display: flex;
  }
  .footer-content p,.footer-content h3
  {
	  color: white;
	  text-decoration: none;
  }
  .footer-section
  {
	  flex: 1;
	  padding: 25px;
	  
  }
  .socials a
  {
	  border: 1px solid #a3a3a3;
	  color: white;
	  width:45px;
	  height: 41px;
	  padding-top: 5px;
	  margin-right: 5px;
	  text-align: center;
	  display: inline-block;
	  font-size: 1.3em;
	  border-radius: 5px;
	  transition: all .3s;
  }
  
  .socials a:hover{
	  border:1px solid black;
	  color: black;
	  transition: all .3s;
  }
  .links ul a
  {
	  text-decoration: none;
	  color: white;
	  display: block;
	  margin-left:10px; 
	  margin-bottom: 10px;
	  font-size: 0.95em;
	  transition: all .3s; 
  }
  .links ul a:hover
  {
	  color: black;
	  margin-left: 20px;
	  transition: all .3s;
  }
  .logo1
  {
	  margin-left: 0px;
	  padding: 0px 0 0 25px;
	  width: 0.2px;
	  height: 0.1px;	
  }
  .about p
  {   
	  margin-left: -12px;
	  padding-top: 80px;
	  
  }

.about_us{
	width:100%;
	height: 600px;
	background-image: url('/static/Images/mohit_au2.jpg'); /*Couldn't link the image so i used linear-gradient background LOL!*/
	width: 100%;
	background-position:center;
    background-repeat:no-repeat; background-size:cover; width: '100%';
	height:530px;
	padding-bottom: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.text_about_us{
	font-size: 30px;
	color: white;
	font-family: sans-serif;
	text-shadow: 0px 15px 12px #000;
}
.line_about_us{
	width:200px;
	height: 8px;
	background-color: white;
	display: block;
	position: relative;
	border-radius: 5px;
	left:10%;
	box-shadow: 0px 15px 12px 0px #000;
}
.content_about_us{
	width:100%;
	height:auto;
	background-color: #646464;
	font-size: 23px;
	font-family: audiowide;
	color: white;
	line-height: 30px;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
}
.about_us_h1
{
	font-size: 2.0em;
}
.about_us_column
  {
      width:25%;
      margin-left: 80px;
      float:left;
      padding:10px 10px;
  }

  .about_us_row:after{
      content:"";
      display:table;
      clear:both;
  }

 

  @media screen and (max-width:600px)
  {
      .about_us_column
      {
          width:100%;
          display:block;
          margin-bottom: 20px;
      }
  }

  .about_us_card
  {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      max-width:300px;
      margin:auto;
      background-color:white;
      text-align:center;
      border-radius:40px;
      padding-bottom:15px;
  }

  .about_us_title
  {
      color:gray;
      font-size:18px;
  }

  .about_us_button
  {
      border:none;
      padding:8px;
      display: inline-block;
      color:white;
      background-color:black;
      cursor:pointer;
      width:70%;
      border-radius:20px;
      font-size:18px;
      text-align:center;
  }

  .about_us_card a{
      text-decoration: none;
      font-size:22px;
      color:black;
  }

  .about_us_card a:hover,button:hover{
      opacity: 0.6;
  }

  .profile_body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.profile_evaluation_container{
	width:100%;
	height:auto;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.profile_evaluation{
	width:100%;
	height: 600px;
	/*background-image: url('/static/Images/profile3.jpg');
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;*/
}
.text_profile{
	font-size: 30px;
	
	color: white;
	font-family: sans-serif;
	text-align: center;
	text-shadow: 0px 15px 12px #000;
	background-image: url('/static/Images/profile3.jpg');
	width: 100%;
	background-position:center;
    background-repeat:no-repeat; background-size:cover; width: '100%';
	height:530px;
	padding-bottom: 80px;
}
.line_about_us{
	width:200px;
	height: 8px;
	background-color: white;
	display: block;
	position: relative;
	border-radius: 5px;
	left:10%;
	box-shadow: 0px 15px 12px 0px #000;
}
.profile_h1
{
	font-size: 2.0em;
	padding-top: 80px;
}
.content_profile{
	width:100%;
	height:auto;
	background-color: white;
	font-size: 23px;
	font-family: audiowide;
	color: #646464;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 10px;
}
.about_us_h1
{
	font-size: 2.0em;
}
.profile_column
  {
      width:25%;
      margin-left: 80px;
      float:left;
      padding:10px 10px;
  }

  .profile_row:after{
      content:"";
      display:table;
      clear:both;
  }

 

  @media screen and (max-width:600px)
  {
      .profile_column
      {
          width:100%;
          display:block;
          margin-bottom: 20px;
      }
  }

  .profile_card
  {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      max-width:300px;
      margin:auto;
      height: 200px;
      background-color:#646464;
      text-align:center;
      border-radius:0px;
      padding-bottom:15px;
  }
  .profile_h1_card
  {
  	background: white;
  	padding-top: 10px;
  	margin-left:auto;
	margin-right:auto;
	border-radius: 0px; 
	color:#646464;
	width: 200px;
	font-size: 24px;
	text-align:center;
	padding: 7px;
	height: 40px;
  }

  .profile_title
  {
      color:gray;
      font-size:18px;
  }

  .profile_button
  {
      border:none;
      padding:8px;
      display: inline-block;
      color:white;
      background-color:black;
      cursor:pointer;
      width:70%;
      border-radius:20px;
      font-size:18px;
      text-align:center;
  }
  .profile_card li
  {
  	font-size: 20px;
  	color: white
  }
  .profile_card a{
      text-decoration: none;
      font-size:20px;
      color:black;
      margin-left: 0px;
  }

  .profile_card a:hover,button:hover{
      opacity: 0.6;
      color:white;
  }
/* quiz tests */
  #test_status{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
#test{
	width:200px;
	height:50px;
	background-color:white;
	margin-left:300px;
	margin-top:30px;
	
}
#test
{
  position: relative;
}
#test:before, #test:after
{
  z-index: -1;
  position: absolute;
  content: "";
  padding:2px 2px 2px 2px;
  bottom: 25px;
  
  width: 60%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
#test:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
#test_status{
	color:white;
	width:565px;
	height:30px;
	background-color:#646464;
	margin-left:300px;
	margin-top:50px;
	padding-left:15px;
	padding-top:3px;
	border-radius:13px;
}


.timecounter{
	color:black;
	margin-left:40%;

}

.about-quiz {
  margin-left: 250px; /* Same as the width of the sidebar */
   margin-top: 50px;
  padding: 10px 30px;
}
.quiz-bar 
{ 
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 50px;
  background: #646464;
  overflow-x: hidden;
  padding: 8px 0;
}
.quiz-bar a 
{
	padding: 30px 20px 10px 20px;
	text-decoration: none;
	font-size: 15px;
	color: #ffffff;
	display: block;
}
.active, .quiz-bar ul li:hover
{
	background: #000000;
	border-radius: 1px;
}
