{% extends 'base.html' %}

{% block title %} GREhome {% endblock %}
{% block content %}
	         <div class="gre-bar ">
	                              
	            	<nav>
						<ul class="list">
              			<li><a href="{%url 'cathome' %}"><i class="fa fa-caret-down"></i>CAT</a></li> 
						<li  class="active"  ><a href="{%url 'catquant' %}"><i class="fa fa-calculator"></i>Quantatitive Ability</a></li> 
						<li ><a href="{%url 'catverbal' %}"><i class="fa fa-align-left"></i>Verbal ability</a></li>
						<li><a href="{%url 'catdilr' %}"><i class="fa fa-cube"></i> <span>Logical Reasoning</span></a></li>						

					    </ul>
					</nav>
				</div>
		
        	 <div class="about-gre">
         	    <h3 class="mt-0">CAT QUANTITATIVE Ability</h3>
         	         <p>
         	         	The quantitative aptitude is the section where numerical questions are asked to test the mathematical skills, accuracy and speed of the candidates. In general, the questions in quant for CAT section are related to basic and elementary mathematics and require the candidates to be completely acquainted with the fundamental concepts to solve them. In CAT, the quantitative ability is a separate section and thus, a separate sectional timing is present in which the candidates are required to solve the related questions. The Quantitative Ability CAT Exam Syllabus 2020 is:
         	         </p>
                   <p> <li> Number Systems</li> </p>
                    <p> <li>LCM & HCF</li> </p>
                     <p> <li>Profit, Loss & Discount</li> </p>
                     <p> <li>Percentages</li> </p>
                     <p> <li>Speed, Time & Distance</li> </p>
                     <p> <li>Time & Work</li> </p>
                     <p> <li>Simple & Compound Interest</li> </p>
                     <p> <li>Ratio & Proportion</li> </p>
                     <p> <li>Averages</li> </p>
                     <p> <li>Quadratic & Linear Equations</li> </p>
                     <p> <li>Complex Numbers</li> </p>
                     <p> <li>Logarithm</li> </p>
                     <p> <li>Binomial Theorem</li> </p>
                     <p> <li>Sequences & Series</li> </p>
                     <p> <li>Surds & Indices</li> </p>
                     <p> <li>Inequalities</li> </p>
                     <p> <li>Probability, Permutation and Combination</li> </p>
                     <p> <li>Set Theory</li> </p>
                     <p> <li>Functions & Geometry</li> </p>
                     <p> <li>Mixtures & Allegations</li> </p>
                     <p> <li>Trigonometry</li> </p>
                     <p> <li>Coordinate Geometry & Mensuration</li> </p>

         	         <p>
         	         Commercial Mathematics is reasonably easy to prepare for since the number of questions is limited and the formulae to be learnt are fairly straightforward.Arithmetic is also fairly basic and should be easy to prepare for. Most of the topics in Arithmetic are of Class X level and the only trick is to solve them as fast as possible.Geometry has several rules and finding the most important Geometry rules would allow the aspirant to solve these problems as fast as possible.Algebra and Trigonometry may be used in conjunction with other topics or may be tested in the CAT 2020 Exam. Sequence and Series is a topic which is occasionally tested in CAT and regularly in other MBA Entrance Exams. With practice, the questions in this topic can be easily solved.Alligations and Mixtures are similar to Sequence and Series in the sense that it is occasionally tested in CAT. It is fairly easy to solve problems of this type with the right guidance.
                  <h3 class="mt-0">Tips to Ace Questions in Quant For CAT Section:</h3>
         	         </p>
                    <p> <li>Strengthen the Basics</li> </p>
                    <p>As the questions are related to elemental mathematics, the candidates are required to get well acquainted with the basics for a proper preparation. Also, it is suggested to cover all the numerical topics to avoid losing any marks in the exam.</p>
                    <p> <li>Practice</li> </p>
                    <p>The numerical questions require proper practice to be able to solve the related questions. As the questions are sometimes tricky, a proper practice can ensure that all the questions in the exam can be attempted and solved.</p>
                     <p> <li>Solve Mock Tests and Previous Year Papers</li> </p>
                     <p>Solving CAT Mock Tests are very crucial as the test acquaints the candidates with the real exam scenario and helps to analyze the preparation level. The previous year papers are very useful to analyze the paper pattern and difficulty level of questions.With numerous MBA aspirants registering for the CAT exam every year, the competition has increased exponentially over the years. So, the candidates are required to be well-focused and dedicated for the exam. With honest preparation, the questions can be easily solved and admission to the IIMs or any other prestigious B-School can be easily acquired.</p>

         </div>
	{% endblock %}