{% extends 'base.html' %}

{% block title %} GREhome {% endblock %}
{% block content %}
	         <div class="gre-bar ">
	                              
	            	<nav>
						<ul class="list">
              			<li><a href="{%url 'cathome' %}"><i class="fa fa-caret-down"></i>CAT</a></li> 
						<li ><a href="{%url 'catquant' %}"><i class="fa fa-calculator"></i>Quantatitive Ability</a></li> 
						<li  class="active"><a href="{%url 'catverbal' %}"><i class="fa fa-align-left"></i>Verbal ability</a></li>
						<li><a href="{%url 'catdilr' %}"><i class="fa fa-cube"></i> <span>Logical Reasoning</span></a></li>						

					    </ul>
					</nav>
				</div>
		
        	 <div class="about-gre">
         	    <h3 class="mt-0">CAT Verbal Ability and Reading Comprehension</h3>
         	         <p>
         	         	Verbal ability for CAT along with reading comprehension is a separate section in the CAT exam. Every year 10 questions are included from the CAT verbal ability section. CAT verbal ability syllabus includes basic topics from grammar and vocabulary. Here, the details about CAT verbal ability with its syllabus is discussed in detail to help the CAT aspirants get acquainted with this section in a better way.This is easily one of the high-scoring parts of the exam as it generally relies on the grammatical and reading skills of the candidate. All questions come with optional answers and most of the students rely on their intuition to come to the answer early. However, it is advisable to not jump to the answer before understanding the question completely. To ensure a high score in this section of the exam, it is good to further brush up personal grammar and vocabulary skills.
         	         </p>
         	          <h3 class="mt-0">Syllabus for Verbal Ability and Reading Comprehension:</h3>
                  
         	   
                    <p> <li>Vocabulary:</li> </p>
                    <p>Vocabulary questions test the candidate’s knowledge in English like primary meanings of words, idioms, and phrases, secondary shades of meaning, usage, associated words, antonyms, etc.</p>
                    <p> <li>Grammar:</li> </p>
                    <p>Grammar-based questions test the candidate’s capability to mark and correct grammatical errors. CAT tests the knowledge of high school level grammar and includes areas like use of articles, prepositions use of modifiers, subject-verb agreement, parallel construction, phrasal verbs, redundancy, etc.</p>
                     <p> <li>Verbal Reasoning:</li> </p>
                     <p>Verbal Reasoning questions are designed to test the candidate’s potential to identify relationships or patterns within sentences or a group of words.</p>
                     <h3 class="mt-0">Detailed VARC syllabus:</h3>
                   <p> <li> Synonyms Antonyms (Vocabulary Based)</li> </p>
                    <p> <li>Grammar or English Usage</li> </p>
                     <p> <li>Correction in Sentence</li> </p>
                     <p> <li>Fill in the blanks</li> </p>
                     <p> <li>Jumbled Paragraph and Close Passage</li> </p>
                     <p> <li>Analogies and Reverse Analogies</li> </p>
                     <p> <li>Meaning/Usage Match</li> </p>
                     <p> <li>Verbal Reasoning</li> </p>
                     <p> <li>Summary Questions</li> </p>
                     <p> <li>Reading Comprehensions</li> </p>
                        <p> <li>Facts Inferences Judgments</li> </p>
         	         <p>
         	        The candidates are suggested to visit the aforementioned links to know more about the Verbal ability sections and various preparation tips to prepare the section properly and solve the related questions with ease.</p>
                  <h3 class="mt-0">The Format of VARC in CAT</h3>
         	   		<p>The format of CAT has 34-36 questions in Verbal ability section from the aforementioned topics. These topics can be further classified as follows:</p>
					<p> <li>1-2 questions on error correction</li> </p>
					<p> <li>3-4 questions on jumbled paragraphs</li> </p>                    
					<p> <li>2-3 questions on facts, inference or judgment</li> </p>
					<p> <li>3-4 questions on para summary</li> </p>
					<p> <li>24 questions on reading comprehension</li> </p>
				<h3 class="mt-0">Error Correction:</h3>
				<p>This section tests a candidate’s command over the grammar of English language which includes articles, phrases, clauses, modifiers, prepositions, subject-verb agreement, sentence correction, conjunctions, parts of speech, pronouns, punctuation, usage of infinitives and gerunds in sentences, tenses, etc. These may include questions on identifying the error in a sentence or fill in the blank to complete the sentence.</p>
				<h3 class="mt-0">Jumbled Paragraphs:</h3>
				<p>This section includes questions on random jumbled sentences and ‘out of context’ sentence to be picked out of jumbled sentences.For random jumbled sentences, the candidates are given a group of sentences that have been jumbled up. The candidates have to place the sentences in the right sequence to get a contextually correct paragraph.There will be another kind of questions like, where the candidates will be given a set of jumbled sentences which make sense when placed in the right sequence, but there will be a sentence in between them that will be completely out of the context as compared to rest of the sentences. Candidates have to find that incorrect sentence to get the correct answer.</p>
				<h3 class="mt-0">Facts, inference or judgment:</h3>
				<p>There are four sequentially ordered statements in this section. Every statement provided in this section can be classified as either a fact, inference or a judgment. The question is followed by four options and the candidates have to pick the most appropriate option that best describes the sequence of these statements.</p>
				<h3 class="mt-0">Para summary:</h3>
				<p>This section includes a small text and the candidates have to pick the option that summarizes the given text most appropriately.</p>
				<h3 class="mt-0">Reading comprehension:</h3>
				<p>The Verbal Ability (VA) along with the Reading Comprehension (RC) comprises of the total VARC section. The format of CAT is expected to have four reading comprehension passages with four questions for each passage. These four questions may be questions on statements made in the passage; true or false; assumptions; and other critical reasoning type based on comprehension passages. Visit reading comprehension to completely get acquainted with this sub-section, question types to be expected and various practice exercises.The CAT verbal ability requires the candidates to be well acquainted with the basic grammar and compatible with reading comprehension to solve the related questions. The candidates are also required to get themselves well-versed with a wide variety of words to be able to answer the synonyms and antonyms easily.</p>
         </div>
	{% endblock %}