{% extends 'base.html' %}

{% block title %} GREhome {% endblock %}
{% block content %}
	         <div class="gre-bar ">
	                              
	            	<nav>
						<ul class="list">
							<li  ><a href="{%url 'grehome' %}"><i class="fa-caret-down"></i>GRE</a></li> 
							<li><a href="{%url 'grequant' %}"><i class="fa fa-calculator"></i>GRE Quant</a></li> 
							<li ><a href="{%url 'greverbal' %}"><i class="fa fa-align-left"></i> GRE Verbal</a></li>
							<li  class="active"><a href="{%url 'greawa' %}"><i class="fa fa-cube"></i> <span>GRE AWA</span></a></li>						

					    </ul>
					</nav>
				</div>
		
        	 <div class="about-gre">
         	    <h3 class="mt-0">Introduction to AWA</h3>
         	         <p>
         	         	The GRE Analytical Writing Assessment (AWA) section, also known as the essay section, is designed to measure your ability to
         	         </p>
         	         <li><p>
         	        articulate complex ideas clearly and effectively.

         	         </p></li>
                    <li><p>
                  express your opinions, examine claims and their accompanying evidence, and sustain a well-focused and coherent discussion.

                   </p></li>
                    <li><p>
                 think critically and transfer your ideas into well-developed, well-structured and well-supported writing.

                   </p></li>
                  
         	         <p>
         	        The Analytical Writing section is always the first section to be administered in the test and consists of two 30-minute essay writing tasks. The first task is to <b>“Analyze an Issue”</b> and the second task is to <b>“Analyze an Argument”</b>.</p>


         	        
         	          <p><b>The issue task </b>presents an opinion on an issue of general interest which is followed by specific instructions on how to respond to that issue. You need to evaluate the given issue, consider the complexities, and develop an argument with reasons to support your stand.
         	          </p>

                   
         	          <p>
         	           <b> The argument task</b>, as its name suggests, presents an argument and requires you to evaluate it by assessing its logical soundness rather than agreeing or disagreeing with it.
         	          </p>
                     <h3>Introduction to AWA</h3>
                    <p>Each of the 2 essays will be read by a different evaluator who will then assign a score based on a very clearly defined set of parameters. Although the AWA section consists of two separate tasks, the score is reported as a single number, on a scale of 0 to 6 with 0.5 mark increments. Your final score is the average of the marks obtained in both the tasks.</p>
                    <p>A score of 6.0 represents an ‘extremely coherent and well-articulated critique of the argument which is skillfully written in grammatically correct idiomatic English’, whereas a score of 0.0 represents an essay which is ‘Completely off the topic, written in a foreign language, or, simply copies the given topic’. It is important to remember that your GRE score is based on verbal and quantitative analysis each carrying a score of 170 adding up to a total of 340, with the AWA section being scored separately.</p>
                    <h3> Importance of AWA</h3>
                    <p>If you have already started preparing for your GRE, then you might have felt that the AWA section seems to be quite a daunting task owing to the complexity of some of the topics. What is also true in several instances is that AWA is the most neglected section of GRE because it does not form a part of the composite GRE score.
<p>However, it is important to understand that the AWA section too, is just as significant and a vital part of GRE as the verbal and quantitative reasoning section, the reasons behind which we've discussed below:</p>
<p><b>Firstly,</b>
as you probably already know, the AWA is the first section of your GRE and a good performance in it sets you off to a good start, boosting your confidence to tackle the rest of the sections. However, if you don’t do well in this section, the pressure and worry might have a huge effect on your performance in the other two sections too!</p>
<p><b>Secondly,</b>
the AWA might just be one of the toughest sections of the GRE to score well on if one is not adequately prepared with not many test takers being able to achieve a perfect AWA score! According to an ETS report, under one percent of all the test takers were able to score a perfect 6.0 on the AWA section with the average score of the test takers hovering around 3.50, with the average score obtained by Indian students being even lower. This makes it pretty evident, that scoring on the AWA is not a cakewalk! Universities and schools look for students who perform well on all the sections, and a poor AWA score does nothing to strengthen your application. Historically, it has been seen that most students accepted to top universities have an AWA score of at least 4.0 and above! </p><p><b>
Thirdly,</b>
your performance in the AWA section reflects on your SOP too. Yes! You heard that right. Your AWA score assumes great importance when admission committees review your Statement of Purpose (SOP). Generally, the admission committees use your AWA score to judge whether or not you actually wrote your statement of purpose, or had it written by someone else. A paltry AWA score and a brilliantly written statement of purpose might even raise concerns of plagiarism and may cause your application to be viewed in a negative light. Coherence between your writing skills on the AWA as well as your statement of purpose makes your candidature stronger. Get to know more about the sections and common topics on the GRE Analytical Writing section so you know what you're up against! Check them out here!</p>
                   
         	     			
         	         

         </div>
{% endblock %}