{% extends 'base.html' %}

{% block title %} GREhome {% endblock %}
{% block content %}
	         <div class="gre-bar ">
	                              
	            	<nav>
						<ul class="list">
							<li ><a href="{%url 'grehome' %}"><i class="fa-caret-down"></i>GRE</a></li> 
							<li   class="active"><a href="{%url 'grequant' %}"><i class="fa fa-calculator"></i>GRE Quant</a></li> 
							<li ><a href="{%url 'greverbal' %}"><i class="fa fa-align-left"></i> GRE Verbal</a></li>
							<li ><a href="{%url 'greawa' %}"><i class="fa fa-cube"></i> <span>GRE AWA</span></a></li>						

					    </ul>
					</nav>
				</div>
		
        	 <div class="about-gre">
         	    <h3 class="mt-0">GRE Quant</h3>
         	         <p>
         	         	The Quantitative section of the GRE comprises fifty percent of the exam and is designed to gauge your grasp over basic mathematical concepts and formulae, as well as your ability to reason analytically using quantitative tools. The good news is that, most of the concepts you need to conquer the Quants section were taught to you in school, which generally means that students from STEM backgrounds find it easier to sail through the Quants syllabus.
         	         </p>
         	         <p>
         	         While a good GRE score itself can be a game changer for your applications, a high Quantitative component is especially coveted for admission to most Master's programs because stands testimony to your command over skills that are absolutely necessary in graduate school, such as logical thinking and analytical reasoning.

         	         </p>
                   <h3> Briefly, here are the four main areas across which you will be assessed:</h3>

                   <h3> Arithmetic:</h3>
         	         <p>
         	         This section includes questions pertaining to integers and their properties, including topics such as prime numbers, divisibility, factorization, exponents and roots, as well as tests your grip over concepts like percentages, ratios, decimal representations and the number line.

         	         </p>
         	         <h3>Algebra</h3>
         	          <p>This part includes simplifying algebraic expressions, solving linear and quadratic equations and inequalities and coordinate geometry, including graphs of functions, equations, and inequalities, intercepts, and slopes of lines.
         	          </p>
                    <h3> Geometry:</h3>
         	          <p>
         	          Among other things, this section contains properties of lines, circles, triangles (including isosceles, equilateral and 30°-60°-90° triangles), polygons, 3D figures, area, volume, perimeter, and the Pythagoras theorem. This part is often deemed to be the most challenging domain in the entire GRE Quants syllabus.
         	          </p>
                    <h3> Data Analysis</h3>
                    <p>Remember the concepts of basic statistics, such as mean, median and mode, standard deviation & range that you learnt in high school? That will come in handy when you're preparing for the Data Analysis section of your GRE! Additionally, you will also be asked to interpret and analyze data using tables, graphs, and charts, in questions that require the use of permutations, combinations, and probability. The concepts required here, are typically those that you're already likely to be familiar with, so there’s not a whole lot of additional work required.</p>
         	     			
         	          <h3>GRE Quant Scoring Pattern</h3>
                    <div>
                    <ul>
                    <li><p>	GRE Quant scores are reported on a scale from 130-170, with 1-point increments.</p></li>
                    <li><p> The Quant section comprises two subsections of 20 questions each.</p></li>
                     <li><p>For each section, you are allowed 35 minutes.</p></li>
                     <li><p>Based on your performance, a raw score is calculated, and you are allotted a percentile, which allows you to see how you measure up to your peers. For instance, a percentile of 92 means you have done better than 92% of your competitors, which is a sizeable achievement!</p></li> </ul>
                     <p style="color: #646464; padding-bottom: 40px;"> Here is a breakdown of the most common Quant topics by the frequency in which they appear:</pi>
                     <table class="gre-test-duration-table" style="margin-top:40px; margin-bottom: 40px;">
                          <thead>
                              <tr>
                                <th>Topics</th>
                                <th>Maximum percentage frequency they appear</th>
                                
                              </tr>
                          </thead>
                            <tbody>
                              <tr>
                                <td>Arithmetic</td>
                                <td>30%</td>
                              </tr>
                              <tr>
                                <td>Algebra</td>
                                <td>30%</td>
                              </tr>
                              <tr>
                                <td>Geometry</td>
                                <td>20%</td>
                              </tr>
                              <tr>
                                <td>Data Analysis</td>
                                <td>20%</td>
                              </tr>
                              <tr>
                                <td>Data Interpretation</td>
                                <td>15%</td>
                              </tr>
                              <tr>
                                <td>Quantative Comparison</td>
                                <td>40%</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                     <pi>The scoring on the GRE is not equal: every question doesn’t carry 1 mark. Rather, as the questions increase in difficulty, so will the score for them. The difficulty of the questions is dependent on your performance on the previous sections, and the final raw score is mapped on the basis of the difficulty of the test you attempted, and the difficulty level of your sections, like any other adaptive style test!</pi>
                     <h3>What should my ideal score be?</h3>
                     <p>Put simply, an ideal GRE score is that which enables you to pursue your Masters at your dream university. Many grad schools prefer applicants with Quant scores in the 85th percentile (163+), although these requirements vary considerably from university to university, and from department to department.</p>
                     <p>An ideal score is not necessarily the highest one—although it is not impossible to score a perfect 170 in the Quants. In fact, 2% of GRE test takers across the globe have do score a perfect 170 in Quants. Your GRE scores will be assessed in tandem with the other aspects of your profile, such as your research portfolio, SOP and LORs. So while you may have an objectively high GRE score, it is important that it is accompanied by a winning SOP, a good GPA, and glowing LORs.</p>
                     <p>We have observed applications of students with GRE scores of 320 and above being turned down by their dream schools, while those with a more modest 312 have won offer letters to Ivy League schools riding on the merit of their excellent academic profile. At the same time, there have also been cases of average students with an average profile making it to NYU or Columbia because of their high GRE scores.</p>
                     <p>The Quant score is especially important for those applying for STEM programs and as a result, many top schools, including Stanford and MIT, usually recommend a minimum Quant score of 160+.</p><p>The best way to figure out the ideal score is to review your dream university’s requirements and to take a look at the average GRE score of a successful applicant to that program. This will give you a clear insight into how much you’ll need to score to secure an admit!</p>





         	        		
         	    <h3> Types of Quant questions </h3>
         	    	<p>
         	    		What about the kind of questions you could expect from the Quant section? Here are the broad types:
         	    	</p>
                <li> Quantitative comparison:</li>
                <p> In this type of question, you will be required to compare two quantities—quantity A and quantity B—and then figure out which of the four answers best describes the comparison. Here’s an example of Quantitative Comparison, along with the four choices:</p>
                <li> Numerical entry</li>
                <p> Numeric entry questions account for approximately 10% of the GRE quantitative reasoning section, and require you to solve a problem and enter your answer in the space provided. For example:</p>
                <li>Multiple choice with a single selection</li>
                <p>These are the classic MCQ questions where you will only be asked to pick one correct answer from a list of five. Take a look:</p>
                <li>Multiple choice with multiple selections</li>
                <p>  Here, you will be asked to select one or more answers from the list of answers given. Be sure to solve the entire question, since partial credit is not given. For instance:</p>
                <p>No matter which topics the questions are culled from, you can be assured that they will fall under either one of these question types.</p>
                <p>Now, we all know that a 170 is possible, but did you know that the secret to that is prioritisation? What do we mean by that?

         	    	 

         </div>
	{% endblock %}