{% extends 'base.html' %}

{% block title %} GREhome {% endblock %}
{% block content %}
	         <div class="gre-bar ">
	                              
	            	<nav>
						<ul class="list">
							<li ><a href="{%url 'grehome' %}"><i class="fa-caret-down"></i>GRE</a></li> 
							<li><a href="{%url 'grequant' %}"><i class="fa fa-calculator"></i>GRE Quant</a></li> 
							<li   class="active"><a href="{%url 'greverbal' %}"><i class="fa fa-align-left"></i> GRE Verbal</a></li>
							<li ><a href="{%url 'greawa' %}"><i class="fa fa-cube"></i> <span>GRE AWA</span></a></li>						

					    </ul>
					</nav>
				</div>
		
        	 <div class="about-gre">
         	    <h3 class="mt-0">GRE Verbal Preparation</h3>
         	         <p>
         	         	GRE Verbal Reasoning section is arguably the trickiest section to prepare for. The reason for this is quite simple – unlike for the quantitative section, the syllabus for the GRE verbal cannot be enumerated. You could be quizzed on any of the many thousands of words that make up the English language. Remember that the GRE vocabulary is only one aspect of GRE verbal practice! The section also tests you on:
         	         </p>
                   <p>
                    <li> English grammar</li> 
                    <li>Reading comprehension</li> 
                     <li>Critical reading </li> </p>
         	         <p>
         	         The verbal reasoning section assesses your ability to:

         	         </p>
                   <p>
                     <li>Extract relevant information from written data presented</li> 
                    <li>Identify relationships between different components of sentences presented </li> 
                      <li>Recognize the relationship between words and concepts. </li> </p>

                   <h3> Structure of GRE verbal reasoning section</h3>
                   <ul><li>The GRE verbal section consists of two subsections of 20 questions each</li>  <li>Structure of GRE verbal reasoning section</li>  <li>Each sub-section consists of the following types of question: 
                      <ul><li>Text completion – 6</li> <li>Sentence equivalence – 4</li><li>Reading comprehension – 10</li></ul></li></ul> 
                      <p>Let us look at each of the Verbal question types in detail.</p>
                   <h3>Text completion</h3>
         	         <p>
         	        A skilled reader can interpret the overall sense that a passage conveys, without having to read every word used in the passage. This subsection of the GRE verbal reasoning measures the test taker on this. The assessment is based on your ability to fill in the crucial words that have been left out from the text presented to you. This section consists of:
                  </p>
                  <p><li>Passages composed of one to five sentences</li><li>Each passage may have one, two or three blanks</li><li>You would be presented with three or five options for each blank</li><li>Each blank has exactly one correct answer</li><li>Answer for each blank is independent of the answer chosen for other blanks.</li></p>
                  <p>Your aim is to not just select the word that keeps the sentence grammatically correct but also to ensure that the passage remains logical and stylistically coherent. </p>
         	         <h3>Answering strategies for Text Completion</h3>
         	          
                  
         	        <p>
         	         <li>Start by reading through the complete passage and get the overall sense it conveys.</li>
         	          
                    
                   <li>Identify words that either emphasize the structure of the passage (although, moreover, regardless, etc.) or words that are central to the understanding the context being addressed.</li>
                    
                   <li>Fill in the blank with your own words, and then look at the options provided for a similar word or phrase that fits the passage correctly.</li>
                    
                   <li>Blanks need not be filled in the order of appearance. If a passage has three blanks, may be filling up the third one would be the easiest to start with.</li>
                   
                   <li>Once you have selected answers for all the blanks, double-check by reading the completed passage again and ensuring that it remains coherent in all three senses – grammatical, logical and stylistic.</li></p>
                    <p> Let us now look at an example question and how to answer it.</p>
                    <h3> Sentence Equivalence</h3>
                    <p>This sub-section of GRE verbal reasoning assesses the test taker on their ability to form conclusions from partial sentences. This section consists of:Single sentences with a single blank in each</p>
                    <p><li>You have to select two ways the sentence can be completed.</li>
                    <li>The meaning should remain the same in both the cases.</li>
                    <li>The meaning should remain the same in both the cases.</li>
                    <li>Six options are presented for each blank.</li>
                    <li>Both the correct answers have to be selected for a credit. No partial credit is provided if only one correct answer is selected.</li></p>
         	     			
         	          <h3>Answering strategies for Sentence Equivalence</h3>
                    
                    <p><li>Remember that the correct answer choices need not have words that have the same meaning. It is the completed sentences that should have the same meaning, the words themselves may differ.</li><li>You can use the root words, prefixes and suffixes to derive the meaning of words you may be unfamiliar with</li>
                     <li>Look for English words and phrases that suggest a contrast or comparison being made</li>
                     <li>Make sure to consider all options presented before deciding on the correct answers</li>
                     <li>The meaning should remain the same in both the cases.</li>
                     <li>Try to fill the blank with your own words, before you look at the options provided</li>
                    <li><p>	Always double-check by reading the complete sentence with your selected option to ensure that the sentence is coherent</p></li>
                     <li>Also, consider slight variations in the meaning of each word</li></p>
                     <h3> Reading Comprehension</h3>
                     <p>The reading comprehension sub-section of the GRE verbal section is designed to assess your ability to:</p>
                     <ol>
                     <p><li>Understand the meaning of words and sentences. </li><li>Understand the meaning of larger blocks of text like paragraphs.Identify minor and major points in a passage. </li><li>Summarize a passage. </li><li>Draw conclusions from the text presented.Deal with incomplete data and infer missing information. </li><li>Identify underlying assumptions an author works from. </li><li>Analyze an argument and identify its strengths and weaknesses. </li><li>Develop alternative explanations.English Vocabulary. </li></p>
                   </ol>
                   <p> The passages section consists of about 10 passages. Most of the passages are just one paragraph long. These are derived from periodicals, magazines, and books on:</p>
                   <ul>
                   <li>Physical sciences</li>
                   <li>Biological sciences</li>
                    <li>Social sciences</li>
                     <li>Arts and humanities</li>
                      <li>Everyday topics in popular culture</li>
                 </ul>
                    <h3> Answering strategies for reading comprehension</h3>
                    <ul>
                      <li>Start by reading the questions, this primes you to identify answers while reading the passage.</li>
                      <li>Identify the topic, scope, and purpose of the passage while reading it. Isolate topic words where possible.</li>
                      <li>Distinguish between factual details and opinions.</li>
                      <li>Paraphrase, if needed, to better understand the text – including the questions and answer choices.</li>
                      <li>Consider all the options presented as some questions may have more than one correct answer.</li>
                      <li>Do not let your opinion or outside knowledge color your reading of the text presented. Work within the context presented.</li>
                    </ul>
                    <h3>GRE Verbal Target Score </h3>
                    <p>Your target GRE score depends on the program you are aiming to get admission in. Check out the average score of applicants admitted to the program of your choice to understand the score that will make your application competitive.</p>
                    <p>Generally speaking, a score over 160 is considered ideal for most GRE applicants. Nevertheless, you can get into good universities even with a score of over 150. Anything below that is below-average and may hinder your chances of being admitted in a reputed university.</p>


                    
                     <p style="color: #646464; padding-bottom: 40px;"> >Below is a list of a few universities and the average GRE verbal score of the candidates accepted:</pi>
                     <table class="gre-test-duration-table" style="margin-top:40px; margin-bottom: 40px;">
                          <thead>
                              <tr>
                                <th>Name of University</th>
                                <th>Average GRE Verbal Score</th>
                                
                              </tr>
                          </thead>
                            <tbody>
                              <tr>
                                <td>San Diego State University</td>
                                <td>150</td>
                              </tr>
                              <tr>
                                <td>University of Arizona</td>
                                <td>152</td>
                              </tr>
                              <tr>
                                <td>NYU</td>
                                <td>153</td>
                              </tr>
                              <tr>
                                <td>Arizona State University</td>
                                <td>155</td>
                              </tr>
                              <tr>
                                <td>University of Buffalo</td>
                                <td>157</td>
                              </tr>
                              <tr>
                                <td>University of North Carolina</td>
                                <td>159</td>
                              </tr>
                              <tr>
                                <td>University of Florida</td>
                                <td>163</td>
                              </tr>
                              <tr>
                              </tr>
                                <td>University of Florida</td>
                                <td>165</td>
                              </tr>
                            </tbody>
                          </table>
                        

                     <pi>Remember that the exact score that a university would accept depends on the scoring pattern that year. Therefore, the exact score is less important than the percentile score. A good guide to deciding your target score is to look at the average score over the last 5 years for the program you are applying for. This would account for the variation is accepted scores each season. It is told that the more you practice GRE Verbal Section, the more marks you will score in the final exam.</pi>
                     
         	    	 

         </div>
	{% endblock %}