{% extends 'base.html' %}

{% block title %} GREhome {% endblock %}
{% block content %}
	         <div class="gre-bar ">
	                              
	            	<nav>
						<ul class="list">
							<li ><a href="{%url 'ieltshome' %}"><i class="fa fa-caret-down"></i>IELTS</a></li> 
							<li ><a href="{%url 'ieltsreading'%}"><i class="fa fa-book"></i> Reading </a></li> 
							<li  class="active" ><a href="{%url 'ieltswriting'%}"><i class="fa fa-pencil-square-o"></i> Writing</a></li>
							<li><a href="{%url 'ieltslistening'%}"><i class="fa fa-headphones"></i> <span>Listening</span></a></li>
              <li><a href="{%url 'ieltspeaking'%}"><i class="fa fa-microphone"></i> <span>Speaking</span></a></li>						

					    </ul>
					</nav>
				</div>
		
        	 <div class="about-gre">
         	    <h3 class="mt-0">Introduction to IELTS Writing </h3>
         	         <p>Topics are of general interest to, and suitable for, test takers entering undergraduate and postgraduate studies or seeking professional registration. There are two tasks:
         	         	<li>Task 1 - you will be presented with a graph, table, chart or diagram and asked to describe, summarise or explain the information in your own words. You may be asked to describe and explain data, describe the stages of a process, how something works or describe an object or event.</li>
         	         	<li>Task 2 - you will be asked to write an essay in response to a point of view, argument or problem. Responses to both tasks must be in a formal style. </li>
         	         </p>
         	         <h3 class="mt-0">Paper Format</h3>
         	         <p><li>
         	        There are two Writing tasks and BOTH must be completed.
         	         </li></p>
         	         <h3 class="mt-0">Time For IELTS Writing </h3>
         	         <p><li>
         	        60 minutes
         	         </li></p>
         	         <h3 class="mt-0">Task types</h3>
         	         <p><li>
         	        In Task 1, test takers are asked to describe some visual information (graph/table/chart/diagram) in their own words. They need to write 150 words in about 20 minutes. In Task 2, they respond to a point of view or argument or problem. They need to write 250 words in about 40 minutes.

         	         </li></p>
         	         
         	         <h3 class="mt-0">Answering</h3>
         	         <p><li>
         	        Answers must be given on the answer sheet and must be written in full. Notes or bullet points are not acceptable as answers. Test takers may write on the question paper but this cannot be taken from the examination room and will not be seen by the examiner.

         	         </li></p>
         	         <h3 class="mt-0">Marks</h3>
         	         <p><li>
         	       Each task is assessed independently. The assessment of Task 2 carries more weight in marking than Task 1.Responses are assessed by certificated IELTS examiners. All IELTS examiners hold relevant teaching qualifications and are recruited as examiners by the test centres and approved by the British Council or IDP: IELTS Australia.Scores are reported in whole and half bands. Detailed performance descriptors have been developed which describe written performance at the nine IELTS bands. These are available on the How IELTS is scored page. They apply to both IELTS Academic and IELTS General Training versions and are based on the following criteria.
         	         </li></p>
         	          <h3 class="mt-0">IELTS Writing – how it's marked</h3>
                    <p>
                 Task 1 responses are assessed on:
                 <li>Task achievement</li>
                 <li>Coherence and cohesion</li>
                 <li>Lexical resource</li>
                 <li>Grammatical range and accuracy.</li>
                   Task 2 responses are assessed on:
                 <li>Task response</li>
                 <li>Coherence and cohesion</li>
                 <li>Lexical resource</li>
                 <li>Grammatical range and accuracy.</li>
                   </p>
                   <h3 class="mt-0">IELTS Writing – Performance Descriptors</h3>
                    <p>
                 Task 1 responses are assessed on:
                 <li>Task achievement:This assesses how appropriately, accurately and relevantly the response fulfils the requirements set out in the task, using the minimum of 150 words. Academic Writing Task 1 is a writing task which has a defined input and a largely predictable output. It is basically an information-transfer task that relates narrowly to the factual content of an input diagram and not to speculative explanations that lie outside the given data.</li>
                 <li>Coherence and cohesion:This concerns overall clarity and fluency: how the response organises and links information, ideas and language. Coherence refers to the linking of ideas through logical sequencing. Cohesion refers to the varied and appropriate use of cohesive devices (for example, logical connectors, pronouns and conjunctions) to assist in making the conceptual and referential relationships between and within sentences clear.</li>
                 <li>Lexical resource:This refers to the range of vocabulary used and its accuracy and appropriacy in terms of the specific task.</li>
                 <li>Grammatical range and accuracy:This refers to the range and accurate use of grammar as manifested in their sentence writing.</li>
                   Task 2 responses are assessed on:
                 <li>Task Response:In both IELTS Academic and IELTS General Training versions, Task 2 requires test takers to formulate and develop a position in relation to a given prompt in the form of a question or statement. Ideas should be supported by evidence, and examples may be drawn from the test takers’ own experience. Responses must be at least 250 words in length. Scripts under the required minimum word limit will be penalised.</li>
                 <li>Coherence and cohesion:This assesses the overall clarity and fluency of the message: how the response organises and links information, ideas and language. Coherence refers to the linking of ideas through logical sequencing. Cohesion refers to the varied and appropriate use of cohesive devices (for example, logical connectors, pronouns and conjunctions) to assist in making the conceptual and referential relationships between and within sentences clear.</li>
                 <li>Lexical resource:This refers to the range of vocabulary used and its accuracy and appropriacy in terms of the specific task.</li>
                 <li>Grammatical range and accuracy:This refers to the range and accurate use of grammar as manifested in their sentence writing.</li>
                   </p>

 					<h3 class="mt-0"> IELTS Preparation Tips - Writing Section</h3>
                    <p>
                 The writing section in each version of IELTS has two subsections. In the academic test, you are required to describe a chart, graph or diagram and in addition, write an essay expressing your point of view or argument.In the general test, the test-taker is presented with a situation and asked to write a letter explaining the situation along with the essay. Here are the IELTS preparation tips for writing section.
                   </p>
                   <p> <li>Reading sample essays</li> </p>
                   <p> It is always helpful to read as many sample essays as possible. Analysing the essays carefully, and writing down relevant points play an important role to structure the essay. There are few points to consider here:
                   	<li>Does the first paragraph make the topic clear?</li>
                   	<li>Does the headline reflect the subject of the essay?</li>
                   	<li>Observe how the writer flows the vital points of the essay.</li>
                   </p>
                    <p> <li>Write essays: </li> </p>
                    <p>	 It is important to write sample essays as part of the preparation. The following points should be kept in mind before writing the essay:
                    	<li>Writing down all the points that come to one's mind on the given topic</li>
                   	<li>Once that is done, filtering of relevant points should be done from the same list.</li>
                   	<li>Then candidates need to which direction they want their essay to take.</li>
                   	<li>While presenting an argument, it is important to adhere to the point that one has decided to move forward with. Aspiring candidates should never present more than one point of view in an argument. It will reflect confusion on the invigilator's part.</li>
                    </p>
                     <p> <li>Grammar practice</li> </p>
                     <p> Practicing grammar helps test takers in making their essays and summaries devoid of any mistakes. Since it is an English level exam, grammar is one of the vital areas that will be checked. Hence, it is important that all articles are grammatically correct.</p>
                     <p> <li>Some other IELTS Preparation tips for writing section</li> </p>

                   <p>
                   	<li>It is advisable to commence with Task 2 first as it is worth more marks and is easier.</li>
                   	<li>Both the tasks should be completed on time. To get familiar with IELTS writing section time limits, it is necessary to undergo rigorous practice of writing.</li>
                   	<li>One must refrain from using informal language as much as one can, for instance, no abbreviations, no 1st or 2nd pronouns or possessive, apart from the concluding paragraph where examinees support their response.</li>
                   	<li>Candidates should underline important words in the task to focus on what they have to do when they start answering. It works as a reminder.</li>
                   	<li>Candidates should underline important words in the task to focus on what they have to do when they start answering. It works as a reminder.</li>



                   </p>
                    
         	         

         </div>
	{% endblock %}