{% extends 'base.html' %}

{% block title %} GREhome {% endblock %}
{% block content %}
	         <div class="gre-bar ">
	                              
	            	<nav>
						<ul class="list">
							<li class="active" ><a href="{%url 'ieltshome' %}"><i class="fa fa-caret-down"></i>IELTS</a></li> 
							<li ><a href="{%url 'ieltsreading'%}"><i class="fa fa-book"></i> Reading </a></li> 
							<li ><a href="{%url 'ieltswriting'%}"><i class="fa fa-pencil-square-o"></i> Writing</a></li>
							<li><a href="{%url 'ieltslistening'%}"><i class="fa fa-headphones"></i> <span>Listening</span></a></li>
              <li><a href="{%url 'ieltspeaking'%}"><i class="fa fa-microphone"></i> <span>Speaking</span></a></li>						

					    </ul>
					</nav>
				</div>
		
        	 <div class="about-gre">
         	    <h3 class="mt-0">About IELTS</h3>
         	         <p>
         	         	The International English Language Testing System (IELTS) measures the language proficiency of people who want to study or work where English is used as a language of communication. It uses a nine-band scale to clearly identify levels of proficiency, from non-user (band score 1) through to expert (band score 9). IELTS is available in: Academic - for people applying for higher education or professional registration, and General Training for those migrating to Australia, Canada and the UK, or applying for secondary education, training programmes and work experience in an English-speaking environment. Both versions provide a valid and accurate assessment of the four language skills: listening, reading, writing and speaking. IELTS treats all test takers with the utmost fairness and respect by actively avoiding cultural bias, and  accepting all standard varieties of native-speaker English, including North American, British, Australian and New Zealand English.
         	         </p>
         	         <p>
                    IELTS is designed by the Cambridge University and jointly managed by IDP and British Council. British Council is a British organization which specializes in international cultural and educational opportunities. It promotes knowledge of the UK and the English language in over 100 countries. The British Council is a charity registered in England, Wales and Scotland and is governed by the Royal Charter. IDP or International Development Program is an international education organization with about 80 offices in 31 countries. IDP was established in 1969 as Australian Asian Universities Co-operation Scheme. The Australian Asian Universities Co-operation Scheme went through innumerable changes to become today’s IDP.
         	         </p>
         	         <p>
         	         	What’s the takeaway? The IELTS test is trusted by over 10,000 organisations, including universities, professional bodies, employers and migration authorities. Learn more about how IELTS results are used to gain entry into study, professional registration and work as well as for migration purposes.IELTS is the only English language test that is accepted by all of the key immigration authorities in Australia, Canada, New Zealand and the United Kingdom, for visa applications and migration purposes: 
         	         </p>
         	    <h3>What is tested on IELTS?</h3>
         	          <p>
                      Profecieny in English language is tested in IELTS. The reading, listening, speaking and writing skills are tested in IELTS
         	          </p>
         	          <p>
         	          There are two types of  IELTS:  Academic and General Training. Listening and Speaking are the same for both tests, but the subject matter of the Reading and Writing sections differs depending on which test you take. The Listening, Reading and Writing sections of all IELTS tests are completed on the same day, with no breaks in between them. The Speaking section, however, can be completed up to a week before or after the other tests. Your test centre will advise. The total test time is 2 hours and 45 minutes.
         	          </p>
         	     			
         	    <h3>Test Duration and Pattern</h3>	
         	        		<table class="gre-test-duration-table">
         	        				<thead>
         	        						<tr>
         	        							<th>Sections</th>
         	        							<th>Parts and Number of Questions</th>
         	        							<th>Duration</th>
         	        							<th>Total Score</th>
         	        						</tr>
         	        				</thead>
         	        					<tbody>
         	        						<tr>
         	        							<td>Listening</td>
         	        							<td> 40 Questions in each section</td>
         	        							<td>30 mins and 10 mins transfer time </td>
         	        							<td>40</td>
         	        						</tr>
         	        						<tr>
         	        							<td>Reading </td>
         	        							<td> 40 Questions in each section</td>
                                <td>60 mins</td>
                                <td>40</td>
                              </tr>
                              <tr>
                                <td>Analytical Writing</td>
                                <td>Two Tasks<br> Task One - Describe some visual information<br> Task Two - Analyse an Argument</td>
                                <td>Task 1: 20 Minutes.<br> Task 2: 40 Minutes.</td>
                                <td>0-9</td>
                              </tr>
                              <tr>
                                <td>Speaking</td>
                                <td> Oral Interview</td>
                                <td>11-14mins</td>
                                <td>0-9</td>
         	        						</tr>
         	        					</tbody>
         	        				</table>
         	    <h3> What is a good IELTS score? </h3>
         	    	<p>
         	    		IELTS scores are used by a vast number of institutions and organizations to figure out whether or not your English is ‘good enough’ for eligibility—in immigration, admissions, hiring, etc. So what is a good IELTS score? If you are taking the IELTS for immigration, what constitutes a good IELTS score will depend on the kind of visa you need (e.g. work, business, for investors, for students, etc.). If you’re taking the IELTS as an international student, both the government and the institution may have a say about what IELTS results are acceptable. In this post, we’ll help you figure out whether you have a good IELTS score or an average IELTS score, explain what the IELTS scores mean, and which universities and countries will accept your IELTS results. Generally more than 6.5 bands are considered as decent IELTS score.
         	    	</p>
         	        <h3>When is the IELTS offered?</h3>
       	 	    	<p>
       	 	    		ELTS test dates are offered upto 4 times in a month making a total of 48 fixed test dates in one calendar year. The availability of IELTS dates in India may differ for the Academic and General Training module. While the Academic version is available on all 48 dates, the General Training version is available on 24 dates. In order to create flexibility and convenience, tests are mostly held on Saturdays and Thursdays.Please note that listening, reading, writing (LRW) tests shall take place on the same day while the speaking tests will be conducted upto 7 days prior and/or post the test date. It may be possible that your nearest IELTS test location may not offer the same date as another IELTS test city location. You can
                  <a href="https://www.ielts.org/book-a-test/find-a-test-location">see a full list of testing centers, test dates, and seat availability on the IELTS site</a>"see a full list of testing centers, test dates, and seat availability on the IELTS site"</a>
       	 	    	</p>
    
       	 	    <h3>How much does it cost to take the IELTS?</h3>
       	 	        <p>
       	 	        	In order to complete your IELTS test registration, you need to pay an amount of Rs. 14,000/-
       	 	        </p>



         </div>
	{% endblock %}