{% extends 'base.html' %}

{% block title %} GREhome {% endblock %}
{% block content %}
	         <div class="gre-bar ">
	                              
	            	<nav>
						<ul class="list">
							<li ><a href="{%url 'ieltshome' %}"><i class="fa fa-caret-down"></i>IELTS</a></li> 
							<li  class="active"><a href="{%url 'ieltsreading'%}"><i class="fa fa-book"></i> Reading </a></li> 
							<li ><a href="{%url 'ieltswriting'%}"><i class="fa fa-pencil-square-o"></i> Writing</a></li>
							<li><a href="{%url 'ieltslistening'%}"><i class="fa fa-headphones"></i> <span>Listening</span></a></li>
              <li><a href="{%url 'ieltspeaking'%}"><i class="fa fa-microphone"></i> <span>Speaking</span></a></li>						

					    </ul>
					</nav>
				</div>
		
        	 <div class="about-gre">
         	    <h3 class="mt-0">Introduction to IELTS Reading </h3>
         	         <p>The Reading section consists of 40 questions, designed to test a wide range of reading skills. These include reading for gist, reading for main ideas, reading for detail, skimming, understanding logical argument and recognising writers' opinions, attitudes and purpose.IELTS Academic test - this includes three long texts which range from the descriptive and factual to the discursive and analytical. These are taken from books, journals, magazines and newspapers.  They have been selected for a non-specialist audience but are appropriate for people entering university courses or seeking professional registration.
         	         </p>
         	         <h3 class="mt-0">Paper Format</h3>
         	         <p><li>
         	        Three reading passages with a variety of questions using a number of task types.
         	         </li></p>
         	         <h3 class="mt-0">Time For IELTS Reading </h3>
         	         <p><li>
         	        60 minutes
         	         </li></p>
         	         <h3 class="mt-0">Task types</h3>
         	         <p><li>
         	        A variety of question types are used, chosen from the following; multiple choice, identifying information, identifying the writer’s views/claims, matching information, matching headings, matching features, matching sentence endings, sentence completion, summary completion, note completion, table completion, flow-chart completion, diagram label completion and short-answer questions.

         	         </li></p>
         	         <h3 class="mt-0">Sources</h3>
         	         <p><li>
         	        	Texts are taken from books, journals, magazines and newspapers, and have been written for a non-specialist audience. All the topics are of general interest. They deal with issues which are interesting, recognisably appropriate and accessible to test takers entering undergraduate or postgraduate courses or seeking professional registration. The passages may be written in a variety of styles, for example narrative, descriptive or discursive/argumentative. At least one text contains detailed logical argument. Texts may contain non-verbal materials such as diagrams, graphs or illustrations. If texts contain technical terms a simple glossary is provided.

         	         </li></p>
         	         <h3 class="mt-0">Answering</h3>
         	         <p><li>
         	        Test takers are required to transfer their answers to an answer sheet during the time allowed for the test. No extra time is allowed for transfer. Care should be taken when writing answers on the answer sheet as poor spelling and grammar are penalised.

         	         </li></p>
         	         <h3 class="mt-0">Marks</h3>
         	         <p><li>
         	       Each question is worth 1 mark.

         	         </li></p>
         	          <h3 class="mt-0">IELTS Reading – how it's marked</h3>
                    <p><li>
                  The Listening test is marked by certificated markers, who are regularly monitored to ensure their reliability. All answer sheets, after being marked, are further analysed by Cambridge Assessment English.

                   </li></p>
 					<h3 class="mt-0">IELTS Preparation Tips - Reading Section</h3>
                    <p>
                 This section evaluates candidates' reading skills. Basically, test takers are given long articles to read followed by a set of questions like multiple choice, sentence completion, summary writing, matching information, short-answers. The reading passages for both IELTS Academic and General test are different. Since one is required to sit for the Academic test for the purpose of admission the content of the test is typically heavier and tougher in terms of topic and language.
                   </p>
                   <p> <li> Read as much as possible:</li> </p>
                   <p> This might seem tedious in the beginning. Therefore, the easier way to do that is by reading whatever interests the candidates in the beginning. It might be a short paragraph, an Ad, or even newspaper briefs. Once the primary phase is over, then they might shift to heavier reading materials like long essays, editorials, short stories.</p>
                    <p> <li>Make Notes:</li> </p>
                    <p>	 It is advisable to make notes while reading. This will sharpen the ability to search for details. It is vital to understand what to highlight and what to note.</p>
                     <p> <li>Repeat the exercise:</li> </p>
                     <p>Reading a note once will not help. Sometimes it helps to go through the whole process of reading the text as it helps candidates to keep themselves updated and remember what had they earlier taken note of. Also, one could find new points in the same text when he/she re-reads it.</p>
                     <p> <li>Practice comprehension: </li> </p>
                   <p> Practicing comprehensions help a lot in the preparation process. Since the questions in the test are based on the style of comprehension, it always helps to sharpen comprehending skills.</p>
                    
         	         

         </div>
	{% endblock %}