{% extends 'base.html' %}
{% load static %}	
{% block title %} Home {% endblock %}

{% block content %}
		 <div class="form-style-5-main">
		<h2 style="color:grey;font-size:40px;">Build your Future Roadmap before it's too late!</h2><br/>      
         	<div class="text2" style="text-decoration-color:grey;font-size:18px;">Come join us now, to help you get better and the best!</div>
		</div>

		<br />
		<div class="hash1" style="text-align: centre;">
		<h1 style="color: #646464; margin-left: 380px;">How can Forward Focus help you?</h1></div>
		
		<div class="wrapper"  style="color: #646464; margin-left: 50px; padding: 30px 30px 30px 30px;">
		
		
		<a href="#"><input type="submit" value="Paper Evaluation" style="width:200px;height: 40px; border-radius: 15px 15px 15px 15px; background-color: #646464;" /></a>
		
		<a href="#"><input type="submit" value="Score Evaluation" style="width:200px;height: 40px; border-radius: 15px 15px 15px 15px;background-color: #646464;" /></a>
		
		<a href="#"><input type="submit" value="University Finder" style="width:200px;height: 40px; border-radius: 15px 15px 15px 15px;background-color: #646464;" /></a>
	     
	    </div>	
	</div>

		<br/><br/><br/>
		<hr>
		<br/><br/>
		<div class="hash1" style="text-align: centre;color: #646464;">
		<h1 style="margin-left: 280px;">How you can score high with ForwardFocus!</h1>    
         	<div class="text1" style="color:grey; font-size:18px; margin-left: 20px;">Come join us now, to help you get better and the best! When you enroll with ForwardFocus,
							you get a truly personal learning experience that is fully online and yet focuses on your learning needs,
							your daily schedule and most importantly, your target GRE score - no compromise.</div> </div>
        	
		<br/><br/><br/>
		
		
		<div class="text3" style="color:grey;font-size:60px; text-align: left;">&#9999;</div>
		<br/><br/>
		<hr>
		<div class="hash1" style="margin-left: 30px;">
		<br/><br/><h2 style="color:grey;font-size:30px;">#1: KNOW WHAT YOU WANT!</h2>
		<div class="text3" style="margin-left: 50px;"><img style="float: right; margin: -30px 30px 0px 30px;" src="{%static 'Images/image3.jpg' %}" width="350" /><br/>
									Laziness is exactly that moment in time at a split second<BR>
									where your thoughts take over to justify your preemptive actions.<BR>
									At ForwardFocus we help build more powerful thoughts<BR>
									towards proactive behaviors. We make sure,<BR>
									you know that you are waking up everyday living life<BR>
									with your purpose while accomplishing your deep desires<BR>
									in the fulfillment of life. Prepare for GRE, GMAT, IELTS,<BR>
									CAT and GATE from your home! At a time that is<BR>
									the most comfortable for you! Whether you are<BR>
									an early riser or a night owl, you can access your lessons,<BR>
									practice questions, and raise doubts whenever you want!<strong><br style="clear: both;" /></strong></div></div>
		
		
		<br/><br/><br/><br/><br/><br/>
		<div class="rotated" style="color:grey;font-size:60px;">&#9999;</div>
		<br/><br/>
		<hr>
		

		
		
		<h2 style="color:grey;font-size:30px;text-align:right; margin-right: 30px;">#2: EXTENSIVE ONLINE PRACTICES<BR>
									AND RESOURCES!</h2>
									<div class="hash2" style="text-align: right; margin-right: 3;">
		<div class= "text3"><img style="float: left;padding-left: 15px;" src="{%static 'Images/image4.jpg' %}" width="350" />
									"Oh!, I know this!" is the best feeling<BR>
									in any exam! Practice makes perfect! At ForwardFocus,<BR>
									as soon as you learn a particular topic,<BR>
									you’re given a practice test immediately on that topic.<BR>
									Our extensive and plentiful questionnaire<BR>
									banks with eBooks and PDFs, covering overall 3000 questions<BR>
									in GRE, GMAT, IELTS, CAT, as well as GATE!<BR>
									It ranges across various difficulty levels to ensure<BR>
									you learn and master all the neccessary concepts well!<BR>
									We make sure that you are equally comfortable with each<BR>
									and every topic!<strong><br style="clear: both;" /></strong></div></div>

		<br/><br/><br/><div class="text3" style="color:grey;font-size:60px; text-align: left">&#9999;</div><br/><br/>
		<hr>
		<div class="hash1" style="margin-left: 30px;">
		<br/><br/><h2 style="color:grey;font-size:30px;">#3: EVALUATE YOUR SCORE!</h2>
		<div class="text3" style="text-align: left;"><img style="float: right; margin: 0px 15px 15px 0px;" src="{%static 'Images/image2.jpg' %}" width="400" />
									Prepare for your exam without slacking off in college!<BR>
									ForwardFocus aims to first understand your daily schedule,<BR>
									analyze your skills and then create a flexible yet<BR>
									a rigorous study plan that covers the entire syllabus,<BR>
									one day at a time! Never feel alone during the preparations<BR>
									of your neccessary exams. Once you enroll, you will be<BR>
									undoubtedly get all the help and materials that you need!<BR>
									We will be providing regular feedbacks so as to check on your progress,<BR>
									profile building, and a lot more!<strong><br style="clear: both;" /></strong></div></div>

		<br/><br/><br/><br/><br/><br/><div class="rotated" style="color:grey;font-size:60px;align-items: left;">&#9999;<hr></div>
		
		<br/><br/><h2 style="color:grey;font-size:30px;text-align:right;  margin-right: 20px;">#4: FOLLOW YOUR DREAMS AND<BR>
									WE WILL FIND YOUR DESTINATION!</h2>
									
		<div class="text3"><img style="float: left; margin: 15px 15px 15px 15px;" src="{%static 'Images/image6.jpg' %}" width="350" />
			<div class="hash2" style="text-align: right; margin-right: 30px;">
									We have prepared a detailed survey, especially for you!<BR>
									For every student out there, studying and trying to keep<BR>
									in touch with their interests at the same time,<BR>
									we hear you! With this detailed survey,<BR>
									we will be helping you decide your field based<BR>
									on your personal interests and preferences that<BR>
									you provide with the details! Not only that,<BR>
									the Main Objective for us is to provide you with the<BR>
									Best University List selection with every detail that<BR>
									you may need for your consideration of the choices!<BR>
									We believe that with this document, your life will become 100x times easier!<BR>
									You can opt for your preferred Country and the results<BR>
									will be right up, waiting for you!<strong><br style="clear: both;" /></strong></div></div></div>
		
{% endblock %}