{% extends 'base.html' %}
{% block title %} Resources {% endblock %}
{% load static %}
{% block content %}

		<div class="container">
			<h2>GMAT Resources</h2>
			<div class="row">
				<div class="col-md-3">
					<div class="product-top">
						<img src="{% static 'Images/book2.jpg' %}">
						<div class="overlay">
							<button type="button" class="btn btn-secondary" title="download"><i class="fa fa-download"></i></button>
						</div>
					</div>
					<div class="product-bottom text-center">
						<h3>GRE book 1</h3>
						<h5>Details</h5>
					</div>
				</div>
				<div class="col-md-3">
					<div class="product-top">
						<img src="{% static 'Images/book2.jpg' %}">
						<div class="overlay">
							<button type="button" class="btn btn-secondary" title="download"><i class="fa fa-download"></i></button>
						</div>
					</div>
					<div class="product-bottom text-center">
						<h3>GRE book 1</h3>
						<h5>Details</h5>
					</div>
				</div>
				<div class="col-md-3">
					<div class="product-top">
						<img src="{% static 'Images/book2.jpg' %}">
						<div class="overlay">
							<button type="button" class="btn btn-secondary" title="download"><i class="fa fa-download"></i></button>
						</div>
					</div>
					<div class="product-bottom text-center">
						<h3>GRE book 1</h3>
						<h5>Details</h5>
					</div>
				</div>
				<div class="col-md-3">
					<div class="product-top">
						<img src="{% static 'Images/book2.jpg' %}">
						<div class="overlay">
							<button type="button" class="btn btn-secondary" title="download"><i class="fa fa-download"></i></button>
						</div>
					</div>
					<div class="product-bottom text-center">
						<h3>GRE book 1</h3>
						<h5>Details</h5>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}