{% extends 'base.html' %}

{% block title %} GREhome {% endblock %}
{% block content %}
	         <div class="gre-bar ">
	                              
	            	<nav>
						<ul class="list">
							<li class="active" ><a href="#"><i class="fa-caret-down"></i> TOEFL</a></li> 
							<li ><a href="#"><i class="fa fa-align-left"></i> TOEFL Reading</a></li> 
							<li ><a href="#"><i class="fa fa-calculator"></i> TOEFL Listening</a></li>
							<li><a href="#"><i class="fa fa-cube"></i> <span>TOEFL Speaking</span></a></li>
							<li><a href="#"><i class="fa fa-cube"></i> <span>TOEFL Writing</span></a></li>						

					    </ul>
					</nav>
				</div>
		
        	 <div class="about-gre">
         	    <h3 class="mt-0">About TOEFL</h3>
         	         <p>
         	         	Test of English as a Foreign Language (TOEFL) is one of the most popular English proficiency exams accepted at American and Canadian universities and schools abroad. TOEFL tests the international students’ usage and understanding of English as it is spoken, written and heard in college and university surroundings. TOEFL is a language proficiency test that is given by those who want to study abroad and aspire to gain global exposure. TOEFL is a more preferred exam among students who want to pursue higher education abroad, as more TOEFL scores are sent to universities in the United States and Canada, compared to others.
         	         </p>
         	         <p>
         	         	The Educational Testing Services (ETS) is the conducting body of the Test of English as a Foreign Language (TOEFL) and is responsible for setting the TOEFL questions, conducting the test, and sending each examinee their scorecard. Students wanting to study abroad, can choose from multiple TOEFL Test Dates available round-the-year and select from the various test centres located across major cities to appear for their TOEFL Exam.
         	         </p>
         	         <p>
         	         	What’s the takeaway? A high score on the TOEFL will have directly mean you have proven the language proficiency for getting admission in major English speaking countries like USA and Canada.
         	         </p>
         	    <h3>What is tested on TOEFL?</h3>
         	          <p> The TOEFL exam pattern 2020 comprises four sections, Reading, Listening, Speaking and Writing - along with the total score. It is a standardized test to measure the English language ability of non-native speakers wishing to enroll in English-speaking universities.
         	          </p>
         	          <p>
         	          Presently the TOEFL exam 2020 can be attempted in two forms, internet-based test (iBT) and the paper-based test (PBT). However, the majority of the countries follow the internet-based test and only a few of the countries follow the paper-based test. The test generally takes between 3 hours 20 mins - 4 hours 20 mins. You'll get a 10 minute break halfway through the exam (i.e. after Reading & Listening sections.)
         	          </p>
         	     			
         	    <h3>Test Duration and Pattern</h3>	
         	        		<table class="gre-test-duration-table">
         	        				<thead>
         	        						<tr>
         	        							<th>Sections</th>
         	        							<th>Number of Questions</th>
         	        							<th>Question Type</th>
         	        							<th>Duration</th>
         	        						</tr>
         	        				</thead>
         	        					<tbody>
         	        						<tr>
         	        							<td>Reading</td>
         	        							<td>30-40 Questions</td>
         	        							<td>Reading 3 or 4 passages,<br> from the academic texts,<br> and answering questions<br> based on them.</td>
         	        							<td>54-72 Minutes</td>
         	        						</tr>
         	        						<tr>
         	        							<td>Listening</td>
         	        							<td>28–38 Questions</td>
         	        							<td>Listening to lectures,<br> conversations,<br> classroom discussions,<br> and, then answer<br> questions based on them.</td>
         	        							<td>41-57 Minutes</td>
									</tr>
									<tr>
         	        							<td>Break: 10 Minutes</td>
         	        						</tr>
									<tr>
										<td>Speaking</td>
         	        							<td>4 Tasks</td>
         	        							<td>Candidates need to express<br> their opinion on a topic<br> familiar to them and<br> speak based on reading<br> and listening tasks.</td>
         	        							<td>17 Minutes</td>
									</tr>
									<tr>
         	        							<td>Writing</td>
         	        							<td>2 Questions</td>
         	        							<td>Candidates need to write<br> essay responses based<br> on reading and listening tasks,<br> along with supporting<br> the opinion in writing.</td>
										<td>50 Minutes</td>
         	        						</tr>
         	        					</tbody>
         	        				</table>
         	    <h3> What is a good TOEFL score? </h3>
         	    	<p>
         	    		A good TOEFL score is unlike most other tests we take, you can’t pass or fail the TOEFL. No TOEFL score range or individual TOEFL score can really be said to be “good” or “bad”, just as no level of English is inherently “good” or “bad”—it all depends on what kind of language you use and what you need it for. <br><br>However, once you get your TOEFL iBT score to 80 or higher, many more universities will accept you. 90-100: TOEFL scores in this range are perfectly good. At this level, your TOEFL score is good enough for most universities. 100-110: These are very good TOEFL scores.
				<br><br>The average total TOEFL iBT score for undergraduate programs is approximately at 84, and 88 for all graduate programs. TOEFL PBT test takers are too few to indicate a percentile score. As you’ll see in the table below, we have provided you with the mean scores with respect to all the Sections.
         	    	</p> <br>
         	    	 <table class="gmat-test-score-quant">
         	        	<thead >
         	        		<tr>
         	        			<th>Section</th>
         	        			<th>Score Range</th>
						<th>Mean Scores*</th>
         	       			</tr>
         	       		</thead>
         	       		<tbody>
         	       			<tr>
         	       				<td>Reading</td>
         	       				<td>0-30</td>
						<td>20</td>
         	       			</tr>
         	       			<tr>
         	   				<td>Listening</td>
         	   				<td>0-30</td>
						<td>19</td>
         	   			</tr>
         	   			<tr>
             					<td>Speaking</td>
             					<td>0-30</td>
						<td>19</td>
             				</tr>
             				<tr>
       	       					<td>Writing</td>
       	       					<td>0-30</td>
						<td>20</td>
       	       				</tr>
					<tr>
       	       					<td>Total Score</td>
       	       					<td>0-120</td>
						<td>80</td>
       	       				</tr>

   
       	        		</tbody>
       	 	   		</table>
				<br><br>TOEFL Section Score Percentiles for iBT Tests can be given as follows <br><br>
                    <table class="gmat-test-score-verbal">
         	        	<thead>
         	        		<tr>
         	        			<th>Section Score</th>
         	        			<th>Reading<br> Percentile</th>
						<th>Listening<br> Percentile</th>
						<th>Speaking<br> Percentile</th>
						<th>Writing<br> Percentile</th>
         	       			</tr>
         	       		</thead>
         	       		<tbody>
         	       			<tr>
         	       				<td>30</td>
         	       				<td>96</td>
						<td>96</td>
						<td>99</td>
						<td>99</td>
         	       			</tr>
         	       			<tr>
         	   				<td>29</td>
         	   				<td>90</td>
						<td>91</td>
						<td>98</td>
						<td>97</td>
         	   			</tr>
         	   			<tr>
             					<td>28</td>
             					<td>84</td>
						<td>86</td>
						<td>95</td>
						<td>93</td>
             				</tr>
             				<tr>
       	       					<td>27</td>
       	       					<td>78</td>
						<td>80</td>
						<td>92</td>
						<td>89</td>
       	       				</tr>
					<tr>
       	       					<td>26</td>
       	       					<td>72</td>
						<td>75</td>
						<td>87</td>
						<td>85</td>
       	       				</tr>
					<tr>
         	       				<td>25</td>
         	       				<td>66</td>
						<td>69</td>
						<td>84</td>
						<td>77</td>
         	       			</tr>
					<tr>
         	       				<td>24</td>
         	       				<td>61</td>
						<td>64</td>
						<td>80</td>
						<td>69</td>
         	       			</tr>
       	        		</tbody>
       	 	   		</table>
       	 	   	<h3>How to send the scores to your Preferred Institutions?</h3>
       	 	   		<p>
       	 	   			The ScoreSelect feature of the ETS gives you the options to send the TOEFL test scores from whichever test date you want schools to see. Note that every time you take the TOEFL, you are given the chance to send the score from that test to up to four different schools. These four score reports are sent for free, but you need to choose the schools that you’ll have the scores sent to BEFORE you take the test.  When the schools get your results, they will only see your scores from that one particular TOEFL test. You can view your scores by loging in to <a href="https://v2.ereg.ets.org/ereg/public/jump?_p=TEL" target="_blank" rel="nofollow">this ETS website</a>.
       	 	   		</p>
       	 	    <h3>Where is the TOEFL offered?</h3>
       	 	    	<p>
       	 	    		The computer-delivered TOEFL (iBT) is administered is conducted over 50 times a year at authorized test centers. The TOEFL Online exam is available in most locations. Seating for TOEFL is on a first-come, first-serve basis. You can view
       	 	    		<a href="https://www.ets.org/toefl/test-takers/ibt/take/centers-dates" target="_blank" rel="nofollow">a full list of testing centers, test dates, and seat availability on the ETS website</a>"
       	 	    	</p>
       	 	    	<p>
       	 	    	    There is no right or wrong answer to this question, but it's recommended that you take the TOEFL exam at least six months to a year before the application deadline. This will allow you enough time to retake the exam if needed and ensures that your program receives your test results before the deadline. The scores will be available online within 10 days approximately after your test date on the official website. The TOEFL test has more test dates (over 50 per year) and locations than any other English-language test in the world. You can retake the test as many times as you wish, but you cannot take it more than once in a 12-day period.
       	 	        </p>
       	 	        <p>
       	 	        	You can register for the TOEFL online via <a href="https://v2.ereg.ets.org/ereg/public/customer/create" target="_blank" rel="nofollow">ETS</a>. For ETS-related questions, you can find <a href="https://www.ets.org/toefl/test-takers/ibt/about" target="_blank" rel="nofollow">all the important information on ETS here</a>.
       	 	        </p>
       	 	    <h3> When to take the TOEFL?</h3>
       	 	    	<p>
       	 	    		Your target date for taking the TOEFL exam should be at least a month before your first application deadline. This will give you plenty of time to work on your applications. Most of the test takers score atleast an average of 100 out of 120 in the first attempt. Usually If you want a tight time for preparation then 1 month should be fine. But don't take more than 2 months to prepare for TOEFL, because the test is not that difficult too.
       	 	    	</p>
       	 	    	<p>
       	 	    		It’s a good idea to have a sense of when you’ll be applying to your graduate school. Once you know when the application deadline is for the round you’ll be applying in, you can work from there.
       	 	    	</p>
       	 	    <h3>How much does it cost to take the TOEFL?</h3>
       	 	        <p>
       	 	        	The registration fee for TOEFL in India is US$180. Apart from this, candidates also need to pay extra for other services like late registration, rescheduling the exam or score review. The fee includes sending score reports to up to four graduate institutions of your choice.
       	 	        </p>



         </div>
	{% endblock %}